# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore PHP Storm files
.idea

sites/default/themes/agid/scss/.DS_Store
*.zip