/* Footer */

.footer_container {
  
  
  h3, .h3 {
    
    font-size: 1.33em;
    
  }
  
  .rss_feed {
    float: left;
    display: block;
    margin: 6px 0 0 10px;
    text-decoration: none;
    font-size: 1.39em !important;
    color: $governo-link-light;
    
    @media (max-width: $screen-xs-max) {
      float: none !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    
    &:hover {
      
      text-decoration: none;
      
    }
    
    &:hover {
    
      color: #65dcdf;
      
    }
    
    &:visited {
      
      color: #90d7f0;
      
    }
    
    &:active {
      
      color: #b50000;
      
    }
    
  }
  
  .logo_container {  
    // margin-top: 0px;
    // margin-bottom: 50px;
    // margin-left: 0px;
    
    @media (max-width: $screen-xs-max) {
      // margin-left: auto !important;
      // margin-right: auto !important;
      
      .logo_text {
	  
        
        h2 {
          
         text-align: left !important;
         
         //font-size: 0.73em;
          
        }
        
      }
      
    }
    
  }
  
  @media (max-width: $screen-xs-max) {
    
    &.container {
    
      .title_row {
      
        h2, .h2, h3, .h3 {
        
          text-align: center;
        
          &.pull-right {
          
            float: none !important;
          
          }
        
        }
      
      }

    }

  }
  
  .logo_container_top {
    
    a {
      
      display: inline-block;
      
    }
    
    padding-left: 100px;

    @media (max-width: $screen-xs-max) {
      padding-left: 0px;
    }
    
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding-left: 70px;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding-left: 80px;
    }
    
    
    h4, .h4 {
      
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
      
      strong {
        
        display: block;
        
      }
      
    }
    
    a {
      
      color: #ffffff !important;
      
    }
    
    
  }
  
  &.fp_footer_container {
    
    a {
      
      color: $governo-link-light;
      
      &:hover {
    
        color: #65dcdf;
        
      }
      
      &:visited {
        
        color: #90d7f0;
        
      }
      
      &:active {
        
        color: #b50000;
        
      }
      
    }
    
    .logo_container {
      
      @media (max-width: $screen-xs-max) {
        margin-right: 0px;
      }
      
      h1, .h1 {
        
        font-weight: 400;
        
      }
      
    }
    
  }
  
  
  
}



.box_text_footer {
  
  border-top: 1px solid #3e484f;
  
  padding: 50px 20px 50px 20px;
  
  color: #a5abb0;
  
  font-size: 0.88em;
  
  @media (max-width: $screen-xs-max) {
    padding: 20px 20px 20px 20px;
    border-top: none;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding: 20px 20px 20px 20px;
  }
  
  p {
    
    color: #a5abb0;
    
    a {
      
      color: #a5abb0;
      display: inline-block;
      
    }
    
  }
  
  &.box_text_footer_social {
    
    //padding-left: 0px;
    //padding-right: 0px;
    
    @media (max-width: $screen-xs-max) {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
  }
  
  &.box_text_footer_links {
    
    padding: 10px 0 20px 0 !important;
    
    ul {
      
      li {
        
        border-bottom: 1px solid #3e484f;
        
        a {
          
          display: inline-block;
          padding: 10px 20px 12px 20px;
          text-decoration: underline;
          font-weight: 700;
          
        }
        
      }
      
    }
    
  }
  
}

.fp_footer_container {
  
  .box_text_footer {
  
    padding-top: 25px;
    padding-bottom: 20px;
    
    h4, .h4 {
      
      font-weight: 400;
      
      &.title_large {
        
        font-size: 1.3em;
        text-decoration: underline;
        color: $governo-link-light;
        
        &:hover {
    
          color: #65dcdf;
          
        }
        
        &:visited {
          
          color: #90d7f0;
          
        }
        
        &:active {
          
          color: #b50000;
          
        }
        
      }
      
    }
  
  }
  
}


.footer_social {
  color: $governo-secondary-darker;
  margin-top: 25px;
  margin-bottom: 20px;
  
  span {
    background: $governo-link-light;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 36px;
    margin: 0 2px 0 2px;
    color: $governo-secondary-darker !important;
    font-size: 1em;
    @include border-radius-circle;
    
    span.icon {
      
      background: none;
      display: inline;
      text-align: center;
      width: auto;
      height: auto;
      line-height: 38px;
      margin: 0;
      color: inherit;
      font-size: 1.2em;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      
    }
     
  }
  
  a {
    background: $governo-link-light;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 36px;
    margin: 0 2px 0 2px;
    color: $governo-secondary-darker !important;
    font-size: 1em;
    @include border-radius-circle;
    
    span.icon {
      
      background: none;
      display: inline;
      text-align: center;
      width: auto;
      height: auto;
      line-height: 38px;
      margin: 0;
      color: inherit;
      font-size: 1.2em;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      
    }
    
    &:hover {
      background: #ffffff;
      color: $governo-secondary-darker !important;
      text-decoration: none;
      
    }
    
    
  }

}


.fp_footer_container {
  
  .footer_social {
  
    margin-top: 0px;
    margin-bottom: 0px;
  
  }
  
}


.footer_links ul { // lavoro sul div e non sull'UL
  
  float: left;
  color: $governo-link-light;
  
  border-top: 1px solid $governo-link-light;
  padding-top: 10px;
  
  font-size: 0.88em;
  
  @media (max-width: $screen-xs-max) {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  li {
    display: inline-block;
    color: $governo-link-light;
    
    @media (max-width: $screen-xs-max) {
      display: block;
      text-align: center;
    }
    
    a {
      
      color: $governo-link-light;
      
      margin: 0 8px 0 8px;
      
      text-decoration: underline;
      
      
      &:hover {
    
        color: #65dcdf;
        
      }
      
      &:visited {
        
        color: #90d7f0;
        
      }
      
      &:active {
        
        color: #b50000;
        
      }
      
      
    }
  
  }
  
}


.social_links {
  
  padding-left: 10px;
  
  a {
    background: $governo-link-light;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 36px;
    margin: 0 2px 0 2px;
    color: $governo-secondary-darker;
    font-size: 1em;
    @include border-radius-circle;
    
    &:hover {
      background: $governo-secondary-darker;
      color: $governo-link-light;
      text-decoration: none;
    }
  }
  
}


.links_utility {
  
  padding-top: 20px;
  
  ul {
    
    font-size: 1.12em;
    font-weight: 700;
    float: right;
    
    li {
      
      display: inline-block;
      margin-left: 20px;
      
      &:after {
        
        font-family: "governo" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        
        font-size: 0.83em;
        content: "t";
        text-align: right;
        padding: 0 0 0 10px;
        
      }
      
      a {
        
        color: #000000;
        font-size: 1.39em;
        
      }
      
    }
    
  }
  
}




